


/* Global*/
:root{
    --dark-blue: #363f5f;
    --blue: #003087;
    --soft-red: #e92929;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 93.75%;
}

body{
    background: #f0f2f5;
    font-family: 'Poppins', sans-serif;
}

.sr-only{
position: absolute;
color: white;
width: 1px;
height: 1px;
padding: 0;
margin: -1px;
overflow: hidden;
clip: rect(0,0,0,0);
white-space: nowrap;
border-width: 0;
}

.container{
    width: min(90vw, 800px);
    margin: auto;

}
/* Header */

header{
background: #0057FF;
padding: 2rem 0 10rem;
text-align: center;
}

#logo{
    color: #fff;
    font-weight: 100;
}
/* Titles*/

h2{
    margin-top: 3.2rem;
    margin-bottom: 0.8rem;
    color: var(--dark-blue);
    font-weight: normal;
}

/* Links and Buttons */

a{
    color: var(--blue);
    text-decoration: none;

}

a:hover{
    color: #0057FF;
}

.button.new{
display: inline-block;
margin-bottom: .8rem;
}


button{
    width: 100%;
    height: 50px;
    border: none;
    color: white;
    background: var(--blue);
    padding: 0;
    border-radius: 0.25rem;

    cursor: pointer;
}

button:hover{
    background:#0057FF;
}

.button-cancel{
    color: var(--soft-red);
    border: 2px solid var(--soft-red);
    border-radius: 0.25rem;
    width: 50%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.6;
}

.button-cancel:hover{
   color: var(--soft-red);
    opacity: 1; 
}
/*Balance */

#balance{
margin-top: -8rem;
color: white;

}

#balance h2{
    margin-top: 0;
}
/* Cards */

.card{
    background: white;
    padding: 1.5rem 2rem;
    border-radius: 0.25rem;
    margin-bottom: 2rem;
    color: var(--dark-blue);
}

.card h3{
font-weight: normal;
margin-top: 1rem;
font-size: 1rem;

display: flex;

align-items: center;
justify-content: space-between;
}

.card p {
font-size: 2rem;
line-height: 3rem;
}

.card.green{
    background: var(--blue);
    color: white;
    

}
/* Table */
#transaction{
    display: block;
overflow-x: auto;
}

#data-table{
width: 100%;
border-spacing: 0 0.5rem;
}

table thead tr th:first-child,
table thead tr th:first-child{
border-radius: 0.5rem 0 0 0.5rem;
}

table thead th{
   background: white; 
   color: #363f5f;
   text-align: left;
   padding: 1rem 2rem;
   font-weight: normal;
}

table tbody td{
    background: white;
    padding: 1rem 2rem;
    font-weight: normal;
}

td.description{
    color: var(--dark-blue);
}

td.income{
    color: #12a454;
}

td.expense{
    color: var(--soft-red);
}
 table tbody tr{
     opacity: 0.7;
 }

table tbody tr:hover{
    opacity: 1;


}

/* Modal */

.modal-overlay{
    width: 100%;
    height: 100%;
    background-color: rgb(0,0,0,0.7);
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
   
}

.modal-overlay.active{
    opacity: 1;
    visibility: visible;
 }



.modal{
    background: #f2f0f5;
    padding: 2.4rem;
   position: relative;
   max-width: 500px;
   width: 90%;
}



/* Form */
#form{
    max-width: 500px;
}

#form h2{
    margin-top: 0;

}

 input{
border: none;
border-radius: 0.2rem;
padding: .8rem;
width: 100%;
}

.input-group{
    margin-top: 0.8rem;
}

.input-group small{
    opacity: 0.4;
}

.input-group.action{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.input-group.actions{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.input-group.actions .button,
.input-group.actions button{
width: 48%;

}
/* Footer */

footer{
    text-align: center;
    margin-top: 7rem;
    padding: 4rem 0 2rem;
    color: var(--dark-blue);
    opacity: 0.6;
}

/* Responsive */ 

@media(min-width: 800px){
    html{
        font-size: 87,5%;
    }

    #balance{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
    }

}